<div class="sobre-container">
  <h2>Sobre a Panificadora</h2>
  <p>
      Nossa panificadora foi fundada em 1990, com o objetivo de oferecer produtos de qualidade e frescos para a comunidade. Desde então, temos nos dedicado a utilizar ingredientes naturais e técnicas tradicionais para criar pães, bolos e outros produtos de panificação que trazem sabor e qualidade à mesa de nossos clientes.
  </p>
  <p>
      Com o passar dos anos, expandimos nosso cardápio e sempre buscamos inovações, mantendo o carinho e a tradição que nos tornaram referência na região. Venha nos visitar e conhecer um pouco mais da nossa história e dos nossos produtos!
  </p>
  <button routerLink="/">Voltar</button>
</div>

