<nav class="navbar">
  <div class="logo">Panificadora</div>
  <div class="menu-toggle" (click)="toggleMenu()">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
  </div>
  <ul [class.active]="isMenuOpen" class="nav-list">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/entrar">Entrar</a></li>
      <li><a routerLink="/cadastrar">Cadastrar</a></li>
      <li><a routerLink="/sobre">Sobre</a></li>
  </ul>
</nav>



<!--
<nav class="navbar">
  <div class="logo">Panificadora Raio de Sol</div>
  <div class="menu-toggle" (click)="toggleMenu()">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
  </div>
  <ul [class.active]="isMenuOpen" class="nav-list">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/entrar">Entrar</a></li>
      <li><a routerLink="/cadastrar">Cadastrar</a></li>
      <li><a routerLink="/sobre">Sobre</a></li>
  </ul>
</nav>
 -->


<!--
 <nav class="navbar">
  <div class="logo">Panificadora Raio de Sol</div>
  <div class="menu-toggle" (click)="toggleMenu()">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
  </div>
  <ul [class.active]="isMenuOpen" class="nav-list">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/entrar">Entrar</a></li>
      <li><a routerLink="/cadastrar">Cadastrar</a></li>
      <li><a routerLink="/sobre">Sobre</a></li>
  </ul>
</nav>
 -->


